<br>
<div ng-controller="signupCtrl">

  <div class="container-fluid">
      
      <div class="row" style="">




<div class="col-md-4">
</div>

<div class="col-md-3">
<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign up</h3>
                    </div>
                     <div class="alert alert-danger" ng-show="otvet">
  <strong>Username</strong> is used
</div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                            <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" ng-model="username" type="username" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" ng-model="email" type="email" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" ng-model="pass" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    
                                </div>
                              
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="javascript:;" class="btn btn-sm btn-success" ng-click="signup(email,username,pass)">Register</a> <a href="/#signin">Sign in</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
    </div>
</div>
<hr>

</div>
       
      </div>




    </div>
</div>


