<br>
<div ng-controller="signinCtrl">
  <div class="container-fluid">
      
      <div class="row" style="">


<div class="col-md-4">
</div>

<div class="col-md-3">
<div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">{{userIn}}
                    <div class="alert alert-danger" ng-show="otvet">
  <strong>Incorrect</strong> password or username
</div>
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="username" ng-model="email" type="username" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" ng-model="pass" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                
                                <a href="" class="btn btn-sm btn-success" ng-click="login(email,pass)">Login</a> <a href="/#register">Register</a>
                                 <a href="" class="btn btn-sm btn-success" ng-click="check()">check</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
    </div>
</div>

<hr>

</div>
       </div >
      </div>




    </div>
 <div class="container-fluid">
      
      <div class="row" >


<br><br>

      </div>

    </div>
